<nav id="mainNav" class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm transition">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="home.html">
            <img src="../assets/logo.jpeg" alt="Logo" height="40" class="me-2">
            <strong>My Organization</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <!-- Example Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="homeDropdown" role="button">Home</a>
                    <ul class="dropdown-menu" aria-labelledby="homeDropdown">
                        <li><a class="dropdown-item" href="home.html#about">About Us</a></li>
                        <li><a class="dropdown-item" href="home.html#ourvision">Our Vision</a></li>
                        <li><a class="dropdown-item" href="home.html#projects">Projects</a></li>
                        <li><a class="dropdown-item" href="home.html#team">Team</a></li>
                        <li><a class="dropdown-item" href="home.html#contact">Contact</a></li>
                        <li><a class="dropdown-item" href="home.html#career">Career</a></li>
                    </ul>
                </li>


                <li class="nav-item dropdown position-static">
                    <a class="nav-link dropdown-toggle" href="our-work.html" id="ourWork" role="button">Our Work</a>
                    <div class="dropdown-menu w-100 mt-0 border-0 shadow mega-menu p-4" aria-labelledby="ourWork">
                        <div class="container">
                            <div class="row">

                                <!-- Column 1 -->
                                <div class="col-md-4">
                                    <h6 class="text-uppercase">Livestock</h6>
                                    <ul class="list-unstyled">
                                        <li><a class="dropdown-item" href="#">Fodder Plantation</a></li>
                                        <li><a class="dropdown-item" href="#">Breed Improvement</a></li>
                                        <li><a class="dropdown-item" href="#">Support Structure</a></li>
                                    </ul>
                                </div>

                                <!-- Column 2 -->
                                <div class="col-md-4">
                                    <h6 class="text-uppercase">Agriculture</h6>
                                    <ul class="list-unstyled">
                                        <li><a class="dropdown-item" href="#">High Yielding Crops</a></li>
                                        <li><a class="dropdown-item" href="#">Seed Production</a></li>
                                        <li><a class="dropdown-item" href="#">Support Irrigation</a></li>
                                        <li><a class="dropdown-item" href="#">Farm Mechanism</a></li>
                                        <li><a class="dropdown-item" href="#">Agriculture Marketing</a></li>
                                        <li><a class="dropdown-item" href="#">Action Research</a></li>
                                        <li><a class="dropdown-item" href="#">Capacity Building</a></li>
                                        <li><a class="dropdown-item" href="#">Case Studies</a></li>
                                    </ul>
                                </div>

                                <!-- Column 3 -->
                                <div class="col-md-4">
                                    <h6 class="text-uppercase">WaSH</h6>
                                    <ul class="list-unstyled">
                                        <li><a class="dropdown-item" href="#">Water and Sanitation</a></li>
                                        <li><a class="dropdown-item" href="#">Himmothan Initiatives</a></li>
                                        <li><a class="dropdown-item" href="#">Current Scale</a></li>
                                        <li><a class="dropdown-item" href="#">WaSH in School</a></li>
                                        <li><a class="dropdown-item" href="#">WaSH in DIsaster Hit Villages</a></li>
                                        <li><a class="dropdown-item" href="#">WaSH Integrated Programme</a></li>
                                        <li><a class="dropdown-item" href="#">SOpen Defecation Free Programme</a></li>
                                        <li><a class="dropdown-item" href="#">Water Security</a></li>
                                    </ul>
                                </div>
                                <!-- Column 4 -->
                                <div class="col-md-4">
                                    <h6 class="text-uppercase">Education</h6>
                                    <ul class="list-unstyled">
                                        <li><a class="dropdown-item" href="#">Library</a></li>
                                        <li><a class="dropdown-item" href="#">Approach to Technology</a></li>
                                        <li><a class="dropdown-item" href="#">Language Programme</a></li>
                                        <li><a class="dropdown-item" href="#">Appropriate Learning</a></li>
                                        <li><a class="dropdown-item" href="#">Sports Development</a></li>
                                        <li><a class="dropdown-item" href="#">Youth Clubs</a></li>
                                        <li><a class="dropdown-item" href="#">Anganwadis</a></li>
                                        <li><a class="dropdown-item" href="#">EWaSH</a></li>
                                        <li><a class="dropdown-item" href="#">Case Studies</a></li>
                                        <li><a class="dropdown-item" href="#">Education in Covid</a></li>
                                    </ul>
                                </div>
                                <!-- Column 5 -->
                                <div class="col-md-4">
                                    <h6 class="text-uppercase">Communities</h6>
                                    <ul class="list-unstyled">
                                        <li><a class="dropdown-item" href="#">Community Based Organizations</a></li>
                                    </ul>
                                </div>
                                <!-- Column 6 -->
                                <div class="col-md-4">
                                    <h6 class="text-uppercase">Partnership with Govt.</h6>
                                    <ul class="list-unstyled">
                                        <li><a class="dropdown-item" href="#">Livelihood Skills Uttarakhand</a></li>
                                        <li><a class="dropdown-item" href="#">JICA</a></li>
                                        <li><a class="dropdown-item" href="#">ILSP</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>


                <!-- Repeat for other menu items -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="partners.html" id="partners" role="button">Our
                        Partners</a>
                    <ul class="dropdown-menu" aria-labelledby="partners">
                        <li><a class="dropdown-item" href="#">Partner 1</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="reports.html">Reports and Publications</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Report 1</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="gis.html">Project Villages GIS</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">GIS Map</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="livelihood.html">Leh Livelihood Initiative</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Initiative Info</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="career.html">Career</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Job Openings</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>